
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  padding-top: 150px;

    background-color: rgb(163, 153, 139);
    font-family: 'Roboto', sans-serif;

    // transition-property: background-color;
    // transition-duration: .3s;

}

.nav {
    display: flex;

    li {
        width: 150px;
        margin: 10px;
    }

    margin-bottom: 1git add0px;
}

.navbox {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px;

}

.projects-nav {
    display: flex;

    li {
        width: 100px;
        margin: 0px 10px;
        font-size: 20px;
    }
}

h1 {
    display: block;
    height: 60px;
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #EADEC7;
}

h2 {
    font-size: 30px;
}


p {
    width: 500px;
    padding: 15px;
    margin: 5px;
}

a {

}

a:hover {
    color: #EADEC7;
}

a.active {
    color: #EADEC7
}

a:active {

}

.detail {
    margin: 10px;
    padding: 10px;
}

.social-icons-list {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.social-icon {

    margin: 10px;

    img {
        height: 50px;
    }
}

.enyo {

    background-color: #333333;
    color: #d3d3d3;

    background-image: url(https://enyo-chat.herokuapp.com/splashbackground.png);
    background-size: cover;

    font-family: 'Roboto', sans-serif;

    h1 {
        font-family: 'Rajdhani', sans-serif;
        color: white;
    }

    h1::before {
        content: '☍';
        color: #bf3f3f;
    }

    .navbox {
        background-color: rgba($color: #333333, $alpha: 1.0);
        border-radius: 20px;
        border: 1px solid lightgray
    }

    .nav a {

    }

    a:hover {
        color: #bf3f3f;
        font-family: 'Rajdhani', sans-serif;
    }

    a.active {
        color: #bf3f3f;
    }

    a:active {
        color: #f57373;
    }
}

.offshoot {
    font-family: monospace;
    background-color: white;
    background-image: url(http://offshoots.herokuapp.com/backdrop.png);
    background-size: 100vw;
    background-position: center bottom;

    h1 {
        font-family: monospace;
        color: #9ABC45;
    }

    a:hover {
        color: #9ABC45;
    }

    a.active {
        color: #9ABC45;
    }

    a:active {
        color: #E1F9A4;
    }

}

.vivari {
    background-image: linear-gradient(#232829, black);
    color: #696969;

    font-family: 'Open Sans', sans-serif;

    h1 {
        color: palegoldenrod;
        font-size: 50px;
        font-family: 'Mansalva', cursive;
        text-shadow: 0px 0px 20px rgba(255,254,232,0.6);
    }

    h1::after {
        content: '𖼔';
        margin-left: 10px;
    }

    .navbox {
        

    }

    a:hover {
        color: palegoldenrod;
        text-shadow: 0px 0px 10px rgba(255,254,232,0.6);
        font-family: 'Mansalva', cursive;
    }

    a.active {
        color: palegoldenrod;
        text-shadow: 0px 0px 10px rgba(255,254,232,0.6);
        
    }
    
    a:active {
        color: white;
        text-shadow: 0px 0px 10px white;
    }
}